$main-window-color: #292930;
$background: rgba(38, 37, 52, 0.72);
$background-secondary: #303038;
$main-window-border: rgba(255, 255, 255, 0.08);
$gray-text: #9C9CB0;
$gray-secondary: #6B6B7B;
$white-text: #F5F5F5;
$yellow: #EFB62B;
$violet: #6764F1;
$violet-border: rgba(245, 245, 245, 0.16);